<h1>Mi tweet</h1>

<%= @tweet.message %>

<%= form_for @tweet do |f| %>
	<p>
		<%= f.label :message, "Tweet" %>
	</p>
	<p>
		<%= f.text_field :message %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= form_for @tweet_nuevo do |f| %>
	<p>
		<%= f.label :message, "Tweet" %>
	</p>
	<p>
		<%= f.text_field :message %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

