<h1>Lista de Tweets</h1>

<%= link_to "Agregar Tweet", new_tweet_path %>

<ol>
	<% @tweets.each do |tweet| %>
		<li>
			<%= tweet.message %>
			<%= link_to "editar", edit_tweet_path(tweet) %>
			<%= link_to "eliminar", tweet_path(tweet), method: :delete, data: {confirm: "Estas seguro?"} %>
		</li>
	<% end %>
</ol>

<h2>Los tweets de Bootcamp Albeiro son una nota:</h2>

<ul>
	<% @tweets_b_a.each do |tweet| %>
		<li><%= tweet.message %></li>
	<% end %>
</ul>