<h1>Crear un tweet</h1>

<%= link_to "Ver todos", tweets_path %>

<%= form_for @tweet do |f| %>
	<p>
		<%= f.label :message, "Tweet" %>
	</p>
	<p>
		<%= f.text_field :message %>
	</p>

	<p>
		<%= f.select :user_id, User.all.collect{|u| [u.nombre, u.id]} %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>