<%= form_for(@flight) do |f| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% @flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :route_id, "Ruta" %><br>
    <%= f.select :route_id, Route.all.collect{|r| [r.define_route, r.id]} %>
  </div>
  <div class="field">
    <%= f.label :airplane_id, "Avion" %><br>
    <%= f.select :airplane_id, Airplane.all.collect{|a| [a.reference, a.id]} %>
  </div>
  <div class="field">
    <%= f.label :pilot_id, "Piloto" %><br>
    <%= f.select :pilot_id, Pilot.all.collect{|p| [ p.complete, p.id]} %>
  </div>
  <div class="field">
    <%= f.label :date, "Fecha" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :price, "Precio" %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit "Crear Vuelo" %>
  </div>
<% end %>
